// Fontes e variaveis
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import './scss/variables';

// Layouts
@import './scss/container';
@import './scss/navbar';
@import './scss/footer';
@import './scss/linkbutton';

// Pages
@import './scss/home';
@import './scss/newproject';

// Project
@import './scss/projectform';

// Form 
@import './scss/input';
@import './scss/select';
@import './scss/submitbutton';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  background-color: $primaryColor;
  height: 100%;
}

